 /* Article Section */
 .article-section {
    padding: 0; /* Increased padding for wider layout */
    color: #ffffff; /* Crisp White */
    text-align: center;
    position: relative;
  }
  
  .article-overlay {
    background-color: rgba(85, 53, 110, 0.8); /* Semi-transparent Royal Purple overlay */
    padding: 2rem;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 30px;
    max-width: 1000px; /* Increased width */
  }
  
  .article-overlay h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .article-overlay p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  
  .article-content img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
  }
  
  /* Link at the Bottom */
  .contact-link {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    background-color: #55356e; /* Royal Purple */
    color: #ffffff; /* Crisp White */
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .contact-link:hover {
    background-color: #432a56; /* Darker Royal Purple */
    transform: scale(1.05);
  }