.move-in-out-header {
    height: 80vh; /* Hero-like height */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align text to the left */
    background-image: linear-gradient(
        to left,
        rgba(85, 53, 110, 0.8),
        rgba(85, 53, 110, 0.5),
        rgba(85, 53, 110, 0.2),
        rgba(0, 0, 0, 0)
      ),
      url('C:\Users\jared\portfolio\ultraclean\public\assets\commercial-header.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; /* Crisp White */
    padding: 2rem;
    position: relative;
  }
  
  .header-content {
    max-width: 50%; /* Limit width of the text area */
    z-index: 1; /* Ensure text is above the gradient */
  }
  
  .move-in-out-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Subtle shadow for text */
  }
  
  .move-in-out-header p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Subtle shadow for text */
  }
  .link {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #6c4a8b; /* Lighter Purple */
    color: #ffffff; /* Crisp White */
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .link:hover {
    background-color: white;
    color: #6c4a8b; /* Slightly darker purple on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .link:active {
    background-color: #432a56; /* Darkest purple on click */
    transform: scale(1.1); /* Slightly larger scale when clicked */
  }
  
  
 

  @media (max-width: 768px) {
    .header-content {
      max-width: 90%;
    }
  
    .move-in-out-header h1 {
      font-size: 2rem;
    }
  
    .move-in-out-header p {
      font-size: 1rem;
    }
  }

