.hero {
    position: relative;
    height: 80vh; /* Adjust based on your preference */
    display: flex;
    justify-content: flex-end; /* Aligns children to the right side */
    align-items: center;
    text-align: left; /* Ensures text aligns left within its container */
    background-color: lavender; /* Fallback background */
    overflow: hidden; /* Prevents any overflow from the hero container */
}

.header-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Keeps text aligned to the start */
    padding: 20px 20px; /* Add padding for text not to touch the edges */
    max-width: 50%; /* Limits the width of the content to half of the container */
}

.header-content h1, .header-content button, .header-content h3 {
    width: 100%; /* Full width of their container */
    max-width: 600px;
    padding: 10px 0;
    background-color: transparent;
    color: #55356E; /* Royal Purple */
    margin: 10px 0; /* Space between elements */
    text-align: center; /* Center aligns text */
}

.header-content button {
    background-color: #55356E; /* Royal Purple */
    color: #FFFFFF; /* White text */
    border: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.header-content button:hover {
    background-color: #FFFFFF; /* White background on hover */
    color: #55356E; /* Royal Purple text on hover */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100px;
    background-color: #55356E;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center; /* Ensures that all children are aligned centrally */
    }

    .hero::after {
        display: none; /* Hide the curve */
    }

    .header-content {
        align-items: center; /* Center aligns the content */
        width: 100%; /* Full width */
        order: 2; /* Ensures content is ordered below the video if necessary */
    }

    .background-image {
        width: 100%;
        height: auto; /* Adjust to cover proportionally */
        order: 1; /* Ensures video is at the top */
    }

    .header-content h1, .header-content button {
        width: 90%; /* Slightly less than full width for padding */
        text-align: center; /* Center the text within its container */
        margin-top: 20px; /* Adds space above the heading */
    }

    .header-content button {
        padding: 12px 24px; /* Slightly larger padding for better touch target */
        border-radius: 25px;
    }
    .header-content h1 {
        background-color: #ffffff94;
        border-radius: 25px;

    }
}

